{% extends 'notes/layout.html' %}





{% block body %}


<form method="POST" action="{% url 'crudtest3' %}" id="StudenForm">
    {% csrf_token %}
    


<div class="imagine container col-3 ">
    
    <div class="form-group">
        <label for="id_firstname" class="form-label">First Name</label>
        {{ form.firstname }}
      </div>



      <div class="form-group">
        <label for="id_lastname">last Name:</label>
        {{ form.lastname }}
    </div>



   



    <button type="submit">Submit</button>
</form>

</div>




<style>
    .imagine {
      background-image: linear-gradient(to bottom, rgb(68, 68, 68), rgb(1, 1, 32));
      padding: 5rem;
      margin-top: 5rem;
      color: aliceblue;
      border-radius: 20px; /* Add this property to create curved borders */
    }
    </style>












{% endblock %}






