{% extends 'notes/layout.html' %}

{% block body %}

  <div class="d-flex justify-content-center align-items-center text-light baner">
   <div class="col-md-8">
      {% if user.is_authenticated %}   
      <h1 class="text-light"> You have successfully login to our website !  </h1>
      {% else %}
      <h1 class="text-light"> Kindly login to our website if you dont have an account please register first for having premium options !  </h1>
      {% endif %}
      <button type="button" class="btn btn-lg btn-dark" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">
         {% if user.is_authenticated %}          
            {{request.user.username}}
            <!-- in else -->
         {% else %}
            Hi User 
         {% endif %}  
   
      </button>
      <button type="button" class="btn btn-lg btn-dark" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">
         {% if user.is_authenticated %}          
            {{request.user.email}}
         {% else %}
             User Email
         {% endif %}  
      </button>
   
   </div>
  </div>
{% endblock %}






