{% extends 'notes/layout.html' %}


{% block body %}


<div class="container col-4 my-5" >
    <form method="POST" action="{% url 'Userlogin' %}" id="loginForm" class="shadow bg-light p-4 rounded-3">
        {% csrf_token %}
        <h3 style="color: rgb(23, 150, 255);" class="text-center mb-3">Login Form </h3>
        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="username" name="username" class="form-control" />
          <label class="form-label" for="username">Username</label>
        </div>
        
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
            <p id="error_text" class="text-danger fw-bold"></p>
        </div> 



        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center d-flex">
          <p>Not a member? <a href="{% url 'Signup' %}">Register</a></p>
          <span>or sign up with:</span>

          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
    </form>
</div>





<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
    $(document).ready(function() {
     
        var loginUrl = "{% url 'Userlogin' %}"; // Define URL variable 

        $('#loginForm').on('submit', function(e) {
            e.preventDefault();

            var username = $('#username').val();
            var password = $('#password').val();

            $.ajax({
                type: 'POST',
                url: loginUrl,
                data: {
                    'username': username,
                    'password': password,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response) {
                    console.log(response);
                    if (response.status === 'success') {
                        swal.fire({
                            title:response.message,
                            timer:2000,
                            icon: 'success',
                            position:'center',
                            buttons:'false',
                            toast:'true',
                            showConfirmButton:false,

                            
                        }).then((result) => {
                           window.location.href = '/';
                           })
                        
                        window.location.href = '/'; // Redirect to home or another page
                    } else {
                        $('#error_text').text(response.message).show();
                        swal.fire({
                            title:response.message,
                            timer:2000,
                            icon: 'error',
                            position:'center',
                            buttons:'false',
                            toast:'true',
                            showConfirmButton:false,

                            
                        })
                    }
                },
                error: function(xhr, status, error) {
                    $('#error_text').text('An error occurred: ' + error).show();
                    swal.fire({
                            title:'An error occurred: ' + error,
                            timer:2000,
                            icon: 'error',
                            position:'center',
                            buttons:'false',
                            toast:'true',
                            showConfirmButton:false,

                            
                        })
                }
            });
        });
    });

   
</script>

{% endblock %}
